@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background: #0a2b3c;
}
.pagination ul{
    display: flex;
    background: linear-gradient( #101f27f1 30%  , #101f27 50%);
    color: #fff;
    padding: 8px;
    border-radius: 50px;
}
.pagination ul li{
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.pagination ul li.numb{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    
}
.pagination ul li.dots{
    font-size: 22px;
    cursor: default;
}
.pagination ul li.btn{
    padding: 0 20px;
}
.pagination ul li.prev{
    border-radius: 25px 0 0 25px;
}
.pagination ul li.next{
    border-radius: 0 25px 25px 0;
}
.pagination ul li .fa-angle-right{
    font-size: 20px;
    padding: 0 3px;
}
.pagination ul li .fa-angle-left{
    font-size: 20px;
    padding: 0 3px;
}
.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
    color: #1f9cff;
    background: #0a2b3c;
}

@media (max-width: 480px){
    body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 100vh;
        padding: 10px;
        background: #0a2b3c;
    }
    
    .pagination ul {
        display: flex;
        color: #fff;
        padding: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 80px;
    }
    .pagination ul li.btn {
        padding: 0px 15px;
    }
    .pagination ul li.prev{
        border-radius: 35px 35px 0 0;
    }
    .pagination ul li.next {
        border-radius: 0 0 35px 35px;
    }

    
}